/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/storage


/public/uploads

/public/assets/frontend
/public/assets/global


/public/assets/admin/img
/public/assets/admin/layout
/public/assets/admin/layout2
/public/assets/admin/layout3
/public/assets/admin/layout4
/public/assets/admin/pages/css
/public/assets/admin/pages/img
/public/assets/admin/pages/media



/test
